.page-title {
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.5);
}

.karteikarten-card {
    border-radius: 3px;
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,.25);
}

.karteikarten-topnav {
    background: #ffc107;
    color: white;
    text-shadow: 0 0 4px rgba(0,0,0,0.4);
}

.karteikarten-login {
    margin-top: 25%;
}
